express_metric {
    id: "accessibility.value_fab_shortcut_dismiss"
    display_name: "Accessibility FAB Shortcut Dismiss Action"
    description: "Counter indicating the FAB was dragged to the Dismiss target"
    owner_email: "danielnorman@google.com"
    owner_email: "android-a11y-framework-eng@google.com"
    unit: UNIT_COUNT
    type: COUNTER
}

express_metric {
    id: "accessibility.value_fab_shortcut_edit"
    display_name: "Accessibility FAB Shortcut Edit Action"
    description: "Counter indicating the FAB was dragged to the Edit target"
    owner_email: "danielnorman@google.com"
    owner_email: "android-a11y-framework-eng@google.com"
    unit: UNIT_COUNT
    type: COUNTER
}

express_metric {
    id: "accessibility.value_qs_shortcut_add"
    display_name: "Accessibility QS Shortcut Add Action"
    description: "Counter indicating the qs shortcut was chosen as a shortcut type for selected feature"
    owner_email: "chunkulin@google.com"
    owner_email: "android-a11y-framework-eng@google.com"
    unit: UNIT_COUNT
    # UID indicates the location where the shortcut was enabled, NOT the UID of
    # the accessibility shortcut feature(s).
    type: COUNTER_WITH_UID
}

express_metric {
    id: "accessibility.value_qs_shortcut_remove"
    display_name: "Accessibility QS Shortcut Remove Action"
    description: "Counter indicating the qs shortcut was removed from the chosen shortcut types for selected feature"
    owner_email: "chunkulin@google.com"
    owner_email: "android-a11y-framework-eng@google.com"
    unit: UNIT_COUNT
    # UID indicates the location where the shortcut was disabled, NOT the UID of
    # the accessibility shortcut feature(s).
    type: COUNTER_WITH_UID
}

express_metric {
    id: "accessibility.value_full_triple_tap_first_interval"
    type: HISTOGRAM
    display_name: "Magnification First Interval of Triple Tap on Fullscreen"
    description: "Time interval between the first and second taps in a triple-tap gesture used to trigger Magnification."
    owner_email: "chenjean@google.com"
    owner_email: "low-vision-eng@google.com"
    unit: UNIT_TIME_MILLIS
    histogram_options {
        uniform_bins {
            count: 25
            min: 0
            max: 250
        }
    }
}

express_metric {
    id: "accessibility.value_full_triple_tap_second_interval"
    type: HISTOGRAM
    display_name: "Magnification Second Interval of Triple Tap on Fullscreen"
    description: "Time interval between the first and second taps in a triple-tap gesture used to trigger Magnification."
    owner_email: "chenjean@google.com"
    owner_email: "low-vision-eng@google.com"
    unit: UNIT_TIME_MILLIS
    histogram_options {
        uniform_bins {
            count: 25
            min: 0
            max: 250
        }
    }
}

express_metric {
    id: "accessibility.value_hct_notification_posted"
    display_name: "High Contrast Text Notification Posted"
    description: "Counter indicating the notification for HCT migration was posted for this user"
    owner_email: "danielnorman@google.com"
    owner_email: "low-vision-eng@google.com"
    unit: UNIT_COUNT
    type: COUNTER
}

express_metric {
    id: "accessibility.value_hct_notification_opened_settings"
    display_name: "High Contrast Text Notification Opened Settings"
    description: "Counter indicating the notification for HCT migration was tapped by this user to open the HCT Settings page"
    owner_email: "danielnorman@google.com"
    owner_email: "low-vision-eng@google.com"
    unit: UNIT_COUNT
    type: COUNTER
}
